/* CSS Styles */


  
html, body {  
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main{
    flex-grow: 1;
    border-bottom: 1px solid rgb(163, 163, 163);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    overflow-x: hidden;
    overflow-y: auto;
}
.navigation{
    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-start;
    align-items:center;
    flex: 1;
    

    
    list-style:none;
    margin:1px;
    padding: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
    .navigation a{
        padding:1em;
        display:block;
        text-decoration: none;
        color: black;
    }
        .navigation a:hover{
            text-decoration-line: underline;
        }
    .navigation #signin{
        padding:5px 25px;
        background-color: rgb(49, 112, 194);
        color: white;
        text-align: center;
        font-size: 15px;
        display:inline-block;
        border-color: transparent;
        border-radius: 4px;
    }
        .navigation #signin:hover{
            background-color: rgb(61, 136, 235);
            cursor:pointer;
        }
.logo{
    display:flex;
    justify-content:center;
    align-items: flex-end;
    flex: 1;
    margin-top: 150px;
    
  
    
}
.submitform {
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items:center;  
    margin-top: 25px;
    
}
.submitform input{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 44px;
    margin: 1px auto;
    padding-left: 20px;
    width: 500px;
   
    
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}

.srcbutton{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;

}
.srcbutton button{
    display:block;
    background-color: rgb(236, 235, 235);
    border-color: transparent;
    border-radius: 3px;
    padding:10px 5px;
    margin-left: 15px;
    
    
}
.srcbutton button:hover{
    border-color: rgb(201, 201, 201);
    cursor:pointer;
} 
footer {
    flex-shrink: 0;
box-sizing: border-box;
background-color:rgb(189, 189, 189);
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color:black;
}
.foot{
   display:flex;
   flex-wrap: wrap;
justify-content:space-evenly;
   padding: 0px 20px;
    
  
    border-color: black;
}
    .foot a{
        padding:1em;
        display:block;
        text-decoration: none;
        color: rgb(58, 58, 58);

    }
        .foot a:hover{
            text-decoration-line: underline;
        }

.foot .about{
    
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    order: 1;
    min-width: 30%;

    margin-top: px;
}
.foot .privacy{
    
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:flex-end;
    order: 3;
    min-width: 30%;

}
.foot .carbon{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
    order: 0;
    margin-top: 35px;
    margin-bottom: 20px;
}
@media screen and (max-width:641px){   
    
    .submitform input{
        width: 80vw;
    }
    .logo {
        margin-top: 50px;
    }
}  
@media screen and (max-height:600px){
    main{
        min-height: 100%;
    }
    .submitform input{
        width: 80vw;
    }
    .logo {
        margin-top: 1px;
    }
    .submitform{
        margin-top: 1px;
    }

}